body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}
.grande
{
    font-size: 28px;
}
.links-naranja:hover
{
    padding: 5px;
    background-color: #FF6400;
    color: #fff;
    border-radius: 10px;
}
.color-gris-8
{
    color: #fff;
    background-color: #ccc;
    box-shadow: 0px 0px 10px #000;
}
.limpiar
{
  list-style: none;
}
.color-gris
{
    color: #aaa;
}
.folio
{
    font-size: 25px;
    padding-left: 5px;
    color: red;
}
/**/
.eliminar-sucursal
{
    color:red;
    font-size: 18px;
}
.imagen
{
    width: 40px;
    height: 40px;
}
.separador
{
	font-size: 20px;
	color: red;
}
.cargo
{
	color: #B03900;
}
.rojo-autorizacion
{
	color:red;
        background-color: #FF8080;
        padding: 2px;
        font-size: 16px;
}
.verde-autorizacion
{
	color: 008000;
        background-color: #80FF80;
        padding: 2px;
        font-size: 16px;
}
.btn-verde
{
    color: #fff;
    background-color: #008000;
}
.titulo5
{
	font-size: 18px;
	color: #505050;
}
.color
{
	background-color: red;
}
.centrado
{	
	text-align: center;
}
.tamanio-30
{
    font-size: 30px;
}
.derecha
{
    text-align: right;
}
.centrado-inesa
{	
	text-align: center;
        font-size: 30px;
}
.centrado-inesa1
{	
	text-align: center;
        text-decoration: underline;
        font-size: 25px;
}
.centrado-inesa2
{	
	text-align: center;
        font-size: 15px;
}
.url-inesa
{	
	text-align: center;
        text-decoration: underline;
        font-size: 15px;
}
.parrafo{
    font-size: 12;
    text-align: justify;
}
.tabla-td
{
    background-color: #EFEFEF;
}

.tamanio-celda{
    table-layout: fixed;
}
.cuerpo-cotizacion{
    box-shadow:inset 0px 3px 15px 0px rgba(0,0,0,0.75);
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
    background: #fff;
}
.btn-naranja
{
	background-color: #B03900;
	color: #fff;
	font-size: 20px;
}
.contorno
{
    border: groove 5px;
    background: #eee;
    color: #505050;
    padding: 7px;
}
.negrita-naranja
{
    font-weight: bolder;
    color: #B03900;
}
.bg-naranja
{
	background-color: #FF6400;
}

.bg-gris
{
	color: #fff;
	background-color: #505050;
}

.transparencia
{
	background-color: #fff;
	opacity: 0.7;
	color: #000;
}
.txt-blanco
{
	color: #fff;
}
.txt-negro
{
	color: #000;
}
.txt-naranja
{
	color: #FF8040;
        font-weight: bold;
}
/**/
.hidden
{
	display: none;
}
.derecha
{
	text-align: right;
}
#contacto_empresa
{
    display: none;
}


/**/

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
        font-size: 20px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}